@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* css for sidenav */ 
.sidenav {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border: blue double 5px;
  overflow-x: hidden;
  padding-top: 20px;
}

.landing-page {
  font-family: 'Poppins';
}

.navbar {
  border: red double 5px;
  width: 100%;
}

.title-section {
  display: flex;
  border: red double 5px;
  justify-content: center;
}

.info-section {
  border: red double 5px;
}

.footer {
  border: red double 5px;
}
